<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Create Channel</title>
</head>
<body>
<div>
    <h2>Create a New Channel</h2>
    <form th:action="@{/channel/create}" method="post">
        <div>
            <label for="name">Channel Name:</label>
            <input type="text" id="name" name="name" required>
        </div>
<!--        <div>-->
<!--            <label for="description">Description:</label>-->
<!--            <textarea id="description" name="description" required></textarea>-->
<!--        </div>-->
        <div>
            <label for="type">Type:</label>
            <select id="type" name="type">
                <option value="PUBLIC">Public</option>
                <option value="PRIVATE">Private</option>
            </select>
        </div>
        <div>
            <button type="submit">Create Channel</button>
        </div>
    </form>
</div>
<div>
    <p>Back to <a href="/user/dashboard">Dashboard</a></p>
</div>
</body>
</html>